/*
项目结构：
header............................................................nav
div#gu-one...........................................................客人类型 +搜索框
div#gu-two...........................................................表格，里面是客人的基本信息
footer...........................................................页脚
*/
#gu-one {
    width: 100%;
    margin: 0 5px 5px;
}

#gu-two {
    width: 100%;
    height: 593px;
    margin: 0 5px 5px;
}
