html,body{
    height: 100%;
    user-select:none;

}
li{list-style: none;}
/*
header········································导航条
section#one··································表单行，两个按钮，两个搜索框
section#two··································房态
  div#main·································房态
    div#msg·····························消息提示框
  div#bar··································侧边栏
section#three································不同颜色对应不同房态
*/
#one{
    width: 100%;
    height: 35px;
    }
#two{
    width: 100%;
    height: 700px;
    margin: 10px;
}
#main{
    width: 90%;
    height: 700px;
    float: left;
}
#bar{
    width: 10%;
    min-width: 129px;
    padding: 10px;
    user-select: none;
    position: absolute;
    right: 0px;
    text-align: center;
    background-color:#eaf7f0;
}
/*外客购买 start*/
    .one_content{
        width: 98%;
        min-width: 830px;
        height: 3px;
        line-height: 35px;
        margin: 0 auto;
        text-align: justify;
    }
    .one_content:after {width: 100%;height: 0;margin: 0;display: inline-block;overflow: hidden;content: '';}

    #oc_thead th{
        text-align: center;
    }
    #oc_tbody td{
        padding: 0px;
    }
    #oc_tbody input{
        width: 100%;
        outline: none;
        border: 0px;
        height: 40px;
        text-align: center;
        background: inherit;
    }
    #oc_tbody select{
        width: 40%;
        outline: none;
        border: 0px;
        height: 40px;
        background: inherit;
    }
    #oc_tbody select option{
        text-align: center;
    }
     #oc_tbody .oct_tr td{
        padding: 10px;
     }
    .oct_last{
        background: #F0EFEF;
    }

    .oc_time{
        width:20%;
    }
    .oc_search{
        width:20%;
        line-height:1.6;
        padding: 5px;
        border:1px solid #ccc ;
        font-size: 14px;
        margin-right: 10%;
    }
/*end 外客购买*/
/*房态显示 start*/
    #main .main ul{
        height: auto;
        padding:8px 0px;
        margin: 0;
        display: inline-block;
        float: left;
        overflow:hidden;
    }
    #main .main ul li{
        list-style: none;
        color: #F0EFEF;
        padding: 4px 8px;
        cursor: pointer;
        overflow: hidden;
        border: 2px solid #A8A7A7;
        margin-left: 4px;
        width:140px;
        height: 100px;
        font-size: 18px;
        position: relative;
    }
    #main .main ul li:hover{
        border: 4px solid grey;
    }
    #main dd{
        width: 50%;
        float: left;
        font-size: 14px
    }
    #main dd.main_one{
        font-weight: bold;
        text-align: left;
        font-size: 1em;
    }
    #main dd.t{
        text-align: right;
    }
    #main dd.main_two{
        font-size: .8em;
    }
    #main dd.main_three{
        font-size: 0.6em;
    }
    #main dd.main_four{
        text-align: right;
        line-height: 100px;
        font-size: 0.7px;
        width:140px;
        height: 100px;
        line-height: 100px;
        padding: 15px;
        position: absolute;
        top: 0;
        left: 0;
    }
/*end 房态显示*/
/*房态的右边栏    start */
    #bar select option{
        font-size: 14px;
    }

    #b_thead th{
        text-align: center;
    }
    #b_tbody input,#b_tbody select{
        width: 80%;
        outline: none;
        border: 0px;
        height: 40px;
        text-align: center;
        background: inherit;
    }
    #b_tbody tr button{
        outline: none;
        border: 0px;
        background: inherit;
    }
    #b_tbody tr button:hover{
        background: #D5D4D4;
    }
    #bt_time input{
        width: 40%;
        /*display: inline-block;*/
        border: 1px solid #E3E1E1;
    }
    .todayprice p{
        font-size: 14px;
        text-align: left;
    }
    .todayprice b{
        font-size: 16px;
        width: 100%;
        height: 30px;
        line-height: 50px;
        display: block;
    }
/*end       房态的右边栏 */

/*msg start*/
    #msg{
        width: 20%;
        height: 40%;
        border: 1px solid cornflowerblue;
        background: cornflowerblue;
        position: absolute;
        bottom: 35px;
        right: 10%;

    }
    #title{
        width: 100%;
        height: 30px;
        line-height: 30px;
        color:black;
        background: cornflowerblue;
        position: absolute;
    }
    #title button{
        font-size: 32px;
        float: right;
    }
    #mainmsg{
        width: 100%;
        height: 100%;
        padding: 10px;
        text-align: justify;
        background: lightgoldenrodyellow;
        overflow-y: scroll;
    }
    #mainmsg p{
        font-size: 14px;
        margin-bottom: 0px;
        cursor: pointer;
    }
    #mainmsg p.mm_a{
        text-align: right;
    }
    #mainmsg div{
        font-size: 12px;
        text-align: right;
        border-bottom: 1px #C9CACA solid
    }
    #mainmsg a{
        color: #0e90d2;
        }
/* end msg*/

/*房态图的下边烂 start*/
    #three{
        position: absolute;
        bottom: 35px;
        left: 1%;
        width: 98%;
        height: 30px;
        cursor: pointer;
    }
    #three ul{
        float: left;
        padding: 0px;
        margin: 0px;
    }
    #three ul li{
        width: 50px;
        height: 25px;
        color: #fff;
        font-size: 12px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 2px;
        margin-top: 3px;
        list-style: none;
        float: left;
        margin-right: 5px;
    }
    #three ul span{
        width: 40px;
        height: 25px;
        font-size: 12px;
        line-height: 25px;
        text-align: left;
        margin-top: 3px;
        float: left;
    }
/* end 房态图的下边烂 */




/*foot start*/
    footer{
        width: 100%;
        height: 35px;
        line-height: 35px;
        background: black;
        position: absolute;
        bottom: 0px;
        background: red;
        cursor: pointer;
        font-size: 14px;
        min-width: 830px;
        letter-spacing: 1px;
        padding: 0 1%;
    }
    #left{
        color:#F0EEEE;
        width: 60% !important;
        float: left;
    }
    #right{
        width: 40% !important;
        float: right;
        color:#F0EEEE;
        text-align: center;
    }
    #right .prompt{
        cursor: pointer;

    }
    .foot{
        color:#E7E5E5;

    }
    #dialogbox1{
        border: 1px solid #C6C5C5;
        box-shadow: 0px 10px 30px #C6C5C5;
        background: #fff;
    }
    #dialogbox1 p input{
        display: inline-block;
    }
/*end foot */

a{
    text-decoration: none;
}
a:visited{color:white;}
@media ( max-width:1300px ){
    #msg{
        right: 130px;
    }
}
