#one{

	width: 100%;
	height: 35px;
	margin: 5px;
}
#two{

	width: 100%;
	height: 835px;
	margin: 10px;
}
#leftone{
	width: 8%;
	float: left;
    height: 835px;
	background: #eaf7f0;
}
#rightone{
	width: 80%;
	float: right;
	margin-right: 10%;
}
#top{
	margin-bottom: 5px;
}

