* {
	margin: 0px;
	padding: 0px;
}
#one {

	width: 100%;
	height: 35px;
	margin: 5px;
}
#two {

	width: 100%;
	height: 835px;
	margin: 10px;
}
#leftone {
	margin-top: 45px;
	width: 8%;
	float: left;
    height: 835px;
	background: #eaf7f0;
}
#rightone {
	width: 80%;
	float: right;
	margin-right: 10%;
}
#top {
	margin-bottom: 5px;
}
.alerts_headers{
	width: 100%;
	height: 700px;
	border-top: 1px dashed #ccc;
	padding: 10px;
}
.tored{
	border: 2px solid rgba(255,0,0,0.6);
}
.toyellow{
	border: 2px solid yellow;
}
/*vips_selects所有样式开始*/
.vips_selects {
	width: 100%;
	height: 70px;
}
.vips_selects label:nth-child(1) {
	display: block;
	text-align: center;
	float: left;
	line-height: 65px;
	height: 65px;
}
.vips_selects label:last-child {
	display: block;
	text-align: center;
	float: right;
	line-height: 65px;
	height: 65px;
}
.vips_selects .vips_serial_num{
	float: right;
	margin-right: 20px;
}
.vips_selects input {
	display: block;
	text-align: center;
	float: left;
	width: 240px;
	height: 40px;
	margin-top: 15px;
	margin-left: 10px;
}
.vips_selects button {
	float: left;
	margin-left: 30px;
	margin-top: 15px;
}
/*vips_selects所有样式结束*/

/*vips_imformations所有样式开始*/
.vips_imformations {
	overflow: auto;
	width: 100%;
	border: 1px solid #ccc;
	background: rgb(239,239,239);
}
.vips_imformations ul {
	padding-left: 0px !important;
}
.vips_imformations ul li {
	list-style: none;
	float: left;
	width: 33%;
	height: 170px;
	padding-top: 20px;
}
.vips_imformations ul li label {
	margin-left: 15px;
	width: 30%;
	float: left;
	text-align: right;
	margin-bottom: 30px;
}
.vips_imformations ul li input {
	float: left;
	margin-bottom: 30px;
	width: 60%;
}
.vips_imformations ul li select {
	float: left;
	margin-bottom: 30px;
	width: 60%;
	padding: 2px;
}
.vips_imformations_footers {
	width: 100%;
	height:auto!important; 
	min-height:140px; 
	padding-top: 0px;
}
.vips_imformations_footers label {
	margin-left: 15px;
	width: 15%;
	float: left;
	text-align: right;
	height: 40px;
	margin-bottom: 15px;
	line-height: 40px;
}
.vips_imformations_footers input {
	float: left;
	margin-bottom: 15px;
	height: 40px;
	width: 70%;
}
/*vips_imformations所有样式结束*/

/*vips_moneys所有样式开始*/
.vips_moneys {
	width: 100%;
	border: 1px solid #ccc;
	min-height: 70px;
	padding-top: 20px;
	margin-top: 10px;
	background: rgb(239,239,239);
}
.vips_moneys input {
    float: left;
	margin-bottom: 30px;
	width: 19%;
}
.vips_moneys label {
    margin-left: 15px;
	width: 10%;
	float: left;
	margin-bottom: 0px;
	text-align: right;
	margin-bottom: 30px;
}
.vips_moneys select {
    float: left;
	margin-bottom: 30px;
	width: 19%;
}
/*vips_moneys所有样式结束*/

/*vips_footers所有样式开始*/
.vips_footers {
	width: 100%;
	height: 70px;
	padding-top: 20px;
	margin-top: 10px;
}
.vips_footers button {
    width: 120px;
    height: 40px;
    background: rgb(240,216,84);
    margin-left: 40px;
}
.vips_footers input {
	margin-left: 30px;
}
/*vips_footers所有样式结束*/
/*in_moneys所有样式*/
.marks_imformations {
	border: 1px solid #ccc;
	background: rgb(239,239,239);
	margin-top: 10px;
}
.marks_imformations ul{
	display: block;
	width: 100%;
}
.marks_imformations ul li{
	display: block;
	text-align: left;
	list-style: none;
	padding-top: 10px;
}
.marks_imformations ul li label{
	display: block;
	float: left;
	width: 20%;
	margin-right: 5%;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	text-align: right;
}
.marks_imformations ul li input{
	display: block;
	float: left;
	width: 70%;
	height: 30px;
	margin-right: 5%;
	margin-bottom: 10px;
}
.in_money_by {
	border: 1px solid #ccc;
	background: rgb(239,239,239);
	margin-top: 10px;
}
.in_money_by ul li{
	display: block;
	text-align: left;
	list-style: none;
	padding-top: 20px;
}
.in_money_by ul li label{
	display: block;
	float: left;
	width: 20%;
	margin-right: 5%;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	text-align: right;
}
.in_money_by ul li input {
	display: block;
	float: left;
	width: 60%;
	height: 30px;
	margin-right: 5%;
	margin-bottom: 10px;
}
.in_money_by ul li select {
    display: block;
	float: left;
	width: 60%;
	height: 30px;
	margin-right: 5%;
	margin-bottom: 10px;
}
.in_money_footers input {
	margin:10px 30px;
	float: right;
}
/*vips_integrals下特有样式*/
#vips_integrals .vips_imformations ul{
	height: 70px;
}
#vips_integrals .vips_imformations ul li{
	height: 70px;
}
#vips_integrals .shops_list{
	line-height: 50px;
	height: 300px;
	margin-top: 10px;
	width: 100%;
	border: 1px solid #ccc;
	position: relative;
}
#vips_integrals .shops_list table{
	width: 100%;
}
#vips_integrals .shops_list .shops_list_tb1{
	/*background: rgb(0,173,239);*/
	height: 50px;
	width: 100%;
	padding-right: 17px;
}
#vips_integrals .shops_list .shops_list_tb2{
	position: absolute;
	top: 51px;
	left: 0;
	width: 100%;
	height: 249px;
	overflow: auto;
}
#vips_integrals .shops_list table tr th{
    height: 32px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px #0789be solid;
    border-right: 1px #66d5ff solid;
    background: #00adef;
    color: #fff;
}
#vips_integrals .shops_list table tr td{
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	text-align: center;
	padding: 2px 5px;
	height: 50px;
}
/*会员导出*/
#vips_out {
	border: 1px solid #ccc;
	background: rgb(239,239,239);
	margin-top: 10px;
	padding: 20px;
}
#vips_out table{
	width: 100%;
	border-left: 1px solid #ddd;
}
#vips_out table tr th{
	height: 32px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px #0789be solid;
    border-right: 1px #66d5ff solid;
    background: #00adef;
    color: #fff;
}
#vips_out table tr td{
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	text-align: center;
	padding: 2px 5px;
	height: 50px;
}
/*模态框背景色设置*/
.am-modal{
    background: rgba(102,102,102,0.1) !important;
    opacity: 0;
}
