<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>入住</title>
    <style type="text/css">

    </style>
</head>
<body>
    <table id="registe" class="am-table am-table-bordered" ng-controller="Ctrl2">
        <tr>
            <td colspan="4">宾客登记表<span>长包 <input type="checkbox" name=""></span></td>
        </tr>
        <tr>
            <td>
                个人帐号：
                <input type="text"  name="" >
            </td>
            <td class="re_main">
                主帐号：
                <input type="text"  name="" >
            </td>
            <td>
                预订号：
                <input type="text"  name="" value="00032" readonly>
            </td>
        </tr>
        <tr>
            <td colspan="3"><hr></td>
        </tr>
        <tr>
            <td>
                <label>姓名：</label>
                <input type="text" name="text">
            </td>
            <td>
                <label>宾客类型：</label>
                <select data-am-selected>
                    <option value="b" selected>个人</option>
                    <option value="o">团体</option>
                </select>

            <td>
                <label>电话：</label>
                <input type="text"  name="" placeholder="内部电话" >
            </td>
        </tr>
        <tr>
            <td>
                <label>国籍：</label>
                <input type="text" name="">

            </td>
            <td>
                <label>证件种类：</label>
                <input type="text" name="">
            </td>
            <td>
                <label>证件号：</label>
                <input type="text" name="text">
            </td>
        </tr>
        <tr>
            <td>
                <label>性别：</label>
                <label class="am-radio-inline sex_one" >
                    <input type="radio"  value="" name="docInlineRadio" checked > 男
                </label>
                <label class="am-radio-inline sex_two">
                    <input type="radio" name="docInlineRadio">女
                </label>
            </td>
            <td>
                <label>民族：</label>
                <input type="" name="">
            </td>
            <td>
                <label>生日：</label>
                <input type="text" name="text" value="2017.4.10">
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <label style="width: 8%;">地区：</label>
                <input type="" name="" style="width: 20%;">
                <input type="" name="" style="width: 60%;">
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <label style="width: 10%;">单位名称：</label>
                <input type="" name="" style="width: 80%;">
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <label style="width: 10%;">住址：</label>
                <input type="" name="" style="width: 80%;">
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <label style="width: 10%;">手机号码：</label>
                <input type="" name="" style="width: 80%;">
            </td>
        </tr>
        <tr>
            <td>
                <label >到店日期：</label>
                <input class="datepicker1" type="text" readonly required>
            </td>
            <td>
                <label>住店天数：</label>
                <input type="" name="" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
            </td>
            <td>
                <label >离店日期：</label>
                <input class="datepicker2" type="text" readonly required>
            </td>
        </tr>
        <tr>
            <td>
                <label>房型：</label>
                <input type="text" value="普通房" name="" disabled>
            <td>
                <label>房号：</label>
                <input type="text" name="text" value="101" disabled>
            </td>
            <td>
                <label>房价：</label>
                <input type="text" name="text" value="168">元
            </td>
        </tr>
        <tr>
            <td>
                <label>优惠价：</label>
                <input type="text" name="text">元
            </td>
            <td>
                <label>服务费：</label>
                <input type="text" name="text">元
            </td>
            <td>
                <label>加床费：</label>
                <input type="text" name="text">元
            </td>
        </tr>
        <tr>
            <td>
                <label>折扣率：</label>
                <input type="text" name="text">
            </td>
            <td>
                <label>折扣类型：</label>
                <input type="text" name="text">
            </td>
            <td>
                <label>定金：</label>
                <input type="text" name="text">元
            </td>
        </tr>
        <tr>
            <td>
                <label>会员卡号：</label>
                <input type="text" name="text">
            </td>
            <td>
                <label>客源帐号：</label>
                <input type="text" name="text">
                <button ng-click="dacount2click()">...</button>
                <div id="daccount2" ng-if="dacount2display=='block'">
                    <div class="dacchd"><b>客源账号</b>
                        <a class="am-close" ng-click="dacount2close()">&times;</a>
                    </div>
                    <div>
                        <input type="" name="" placeholder="请输入查询信息">
                    </div>
                    <table class="am-table am-table-bordered">
                        <thead >
                            <tr class="am-primary">
                                <td class="t1">姓名</td>
                                <td class="t2">单位</td>
                                <td class="t3">联系方式</td>
                                <td>地址</td>
                            </tr>
                        </thead>
                    </table>
                    <div class="da_body">
                        <table class="am-table am-table-bordered  am-table-hover" >
                            <tbody >
                                <tr ng-repeat="v in shop">
                                    <td class="t1">{{v.name}}</td>
                                    <td class="t2">{{v.numbers}}</td>
                                    <td class="t3">{{v.price}}</td>
                                    <td>四川 绵阳 涪城区 青义镇</td>
                                </tr>
                                <tr ng-repeat="v in shop">
                                    <td class="t1">{{v.name}}</td>
                                    <td class="t2">{{v.numbers}}</td>
                                    <td class="t3">{{v.price}}</td>
                                    <td>四川 绵阳 涪城区 青义镇</td>
                                </tr>
                                <tr ng-repeat="v in shop">
                                    <td class="t1">{{v.name}}</td>
                                    <td class="t2">{{v.numbers}}</td>
                                    <td class="t3">{{v.price}}</td>
                                    <td>四川 绵阳 涪城区 青义镇</td>
                                </tr>
                                <tr ng-repeat="v in shop">
                                    <td class="t1">{{v.name}}</td>
                                    <td class="t2">{{v.numbers}}</td>
                                    <td class="t3">{{v.price}}</td>
                                    <td>四川 绵阳 涪城区 青义镇</td>
                                </tr>
                                <tr ng-repeat="v in shop">
                                    <td class="t1">{{v.name}}</td>
                                    <td class="t2">{{v.numbers}}</td>
                                    <td class="t3">{{v.price}}</td>
                                    <td>四川 绵阳 涪城区 青义镇</td>
                                </tr>
                                <tr ng-repeat="v in shop">
                                    <td class="t1">{{v.name}}</td>
                                    <td class="t2">{{v.numbers}}</td>
                                    <td class="t3">{{v.price}}</td>
                                    <td>四川 绵阳 涪城区 青义镇</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="am-btn am-btn-success" ng-click="dacount2close()">确定</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>备注：</label>
                <textarea></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="3"  class="c_hr"><hr></td>
        </tr>
        <tr>
            <td class="c_bottom">
                <p>日期：<span>2017.04.10</span></p>
                <p>营销员：<span>小张</span></p>
                <p>接待人：<span>小王</span></p>
            </td>
            <td class="charge">
                预付：
                <input type="text" name="text">元
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">
                <div class="am-form-group">
                    <span>支付方式：</span>
                    <label class="am-radio-inline">
                        <input type="radio"  value="" name="docInlineRadio" checked> 现金
                    </label>
                    <label class="am-radio-inline">
                        <input type="radio" name="docInlineRadio"> 刷卡
                    </label>
                    <label class="am-radio-inline">
                        <input type="radio" name="docInlineRadio"> 支付宝
                    </label>
                    <label class="am-radio-inline">
                        <input type="radio" name="docInlineRadio"> 微信
                    </label>
                    <label class="am-radio-inline">
                        <input type="radio" name="docInlineRadio">挂账
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <button class="am-btn am-btn-secondary registe">入住</button>
            </td>
        </tr>
    </table>
    <script>
        // jquery ui 的日历插件 start
        $('.datepicker1').datepicker({
            minDate: 0,
            onClose: function( selectedDate ) {
               $('.datepicker2').datepicker( "option", "minDate", selectedDate );
            }
        });

        $("input.renumber").change(function(){
            var re_number1=$('.datepicker1').val();
            var re_number2=$("input.renumber").val();
            console.log(re_number1);
            console.log(re_number2);

        });
        $('.datepicker2').datepicker({
                minDate: 0,
                onClose: function( selectedDate ) {
                   $('.datepicker1').datepicker( "option", "maxDate", selectedDate );
                }
            });
        // end   jquery ui 的日历插件

    </script>
</body>

